<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= content_for?(:title) ? strip_tags(yield(:title)) : "Shore" %></title>
    <meta name="apple-mobile-web-app-title" content="Shore">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= vite_client_tag %>
    <%= vite_javascript_tag "application" %>
    <%= vite_stylesheet_tag "application", data: {"turbo-track": "reload"} %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
